@page
@model Dairiten.Pages.Yubin_K.Yubin_KModel
@{
    ViewData["Title"] = "郵便番号検索";
}
@{
    Layout = null;
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Dairiten</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Dairiten.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/datatables.min.css" /> @*DataTables*@

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/datatables.min.js"></script>   @*DataTables*@
    <script src="~/js/site.js" asp-append-version="true"></script>    
}

<div class="container-fluid g-1">
    <div class="text-start">
        <h4 class="" style="background:#DCDCDC">郵便番号検索</h4>
    </div>

    <form method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        @*<div class="row g-0">*@
            <div class="col-md-12">            
                <div class="komoku1 text-white mb-1" style="margin-right: 11px;">検索対象</div>
                <div class="form-group">
                    <div class="atai2 mb-1">
                        <div class="row mb-3">
                            <div class="col-sm-9">
                                <div class="form-check form-check-inline">
                                    <input asp-for="Input.target_kbn" class="form-check-input" type="radio" value="1" id="y_target1" checked>
                                    <label class="form-target-label" for="y_target1">郵便番号</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input asp-for="Input.target_kbn" class="form-check-input" type="radio" value="2" id="y_target2">
                                    <label class="form-target-label" for="y_target2">住所(漢字)</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input asp-for="Input.target_kbn" class="form-check-input" type="radio" value="3" id="y_target3">
                                    <label class="form-target-label" for="y_target3">住所(カナ)</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="komoku1 text-white mb-1" style="margin-right: 11px;">郵便番号</div>
                <div class="atai2 mb-1">
                    <div class="row mb-3">
                        <div class="col-sm-3">
                        <input type="text" class="form-control form-control-sm" id="b_zip" asp-for="Input.zipcode" onchange="zenkana2Hankana(this)" onInput="text_suchiCheck(this)">
                        </div>
                        <label for="zipcode-label" class="col-sm-3 col-form-label col-form-label-sm text-red">(半角)</label>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="komoku1 text-white mb-1" style="margin-right: 11px;">住所</div>
                <div class="atai2 mb-1">
                    <div class="row mb-3">
                        <div class="col-sm-10">
                            <input type="text" class="form-control form-control-sm" id="b_address1" asp-for="Input.address_kanji">
                        </div>
                        <label for="address-kanji-label" class="col-sm-2 col-form-label col-form-label-sm text-red">(全角)</label>
                    </div>
                </div>
                <div class="komoku1 text-white mb-1" style="margin-right: 11px;">住所カナ</div>
                <div class="atai2 mb-1">
                    <div class="row mb-3">
                        <div class="col-sm-10">
                        <input type="text" class="form-control form-control-sm" id="b_address2" asp-for="Input.address_kana" onchange="zenkana2Hankana(this, id)">
                        </div>
                        <label for="address-kana-label" class="col-sm-2 col-form-label col-form-label-sm text-red">(半角カナ)</label>
                    </div>
                </div>
            </div>
        @*</div>*@
        <div class="text-end">                                
            @*<button type="submit" class="btn btn-primary" style="width: 150px;" asp-page-handler="Handle1" onclick="show_loading()">検索</button>*@
            <input type="submit" class="btn btn-primary" style="width: 150px;" asp-page-handler="Handle10" value="検索" onclick="show_loading()" />
            <button type="submit" class="btn btn-primary" style="width: 150px;" onclick="clearFormAll()" asp-page-handler="Handle11">クリア</button>
        </div>
   

    @if (Model.mylist.Count > 0)
        {
        <p>検索結果</p>
        <div class="text-center">
            <table id="mytable" class="table table-bordered">
                <thead>
                    <tr>
                        <th>
                            郵便番号
                        </th>
                        <th>
                            住所
                        </th>
                        <th>
                            住所(カナ)
                        </th>                        
                        <th>
                            選択
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.mylist)
                    {
                        <tr>
                            <td>
                                @Html.Raw(item.zipcode)
                            </td>
                            <td>
                                @Html.Raw(item.address_kanji)
                            </td>
                            <td>
                                @Html.Raw(item.address_kana)
                            </td>
                            <td>
                                    <button type="submit" class="btn btn-primary" style="width: 150px;" asp-page-handler="Handle12" value="@Html.Raw(item.id)">選択</button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
    </form>
    <input type="button" value="　閉じる　" onClick="window.close()">
</div>