@page
@model Dairiten.Pages.Moshikomi_KjModel
@{
    ViewData["Title"] = "申込検索";
}
<form method="post">
    <div class="container-fluid g-1">
        <div class="text-start">
            <h4 class="" style="background:#DCDCDC">申込検索</h4>
        </div>

        <ul class="nav nav-tabs">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" asp-area="" asp-page="/Moshikomi/Moshikomi_Kj">検索条件</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" asp-area="" asp-page="/Moshikomi/Moshikomi_Kk">検索結果</a>
          </li>
        </ul>
        <br>
        <div class="komoku1 text-white mb-1" style="margin-right: 11px;">代理店コード</div>
        <div class="atai1 mb-1">
            <label class="col-form-label col-form-label" style="margin-right: 20px;">@User.Identity?.Name</label>
            <label class="col-form-label col-form-label">@User.Identity?.Name</label>
        </div>
        <div class="row g-0">
            <div class="col-md-6">
                <div class="komoku1 text-white mb-1" style="margin-right: 11px;">有効状態</div>
                <div class="atai2 mb-1">
                    <select class="form-select form-select-sm" aria-label=".form-select-sm example" style="width: 200px;" name="yukojotai">
                        <option selected></option>
                        @foreach (var item in Model.m_Master.Where(m => m.m_master_kbn_id == 16))
                        {
                            <option>@Html.DisplayFor(modelItem => item.item_name)</option>
                        }
                    </select>
                </div>
                <div class="komoku1 text-white mb-1" style="margin-right: 11px;">成立状況</div>
                <div class="atai2 mb-1">
                    <select class="form-select form-select-sm" aria-label=".form-select-sm example" style="width: 200px;" name="seiritsujokyo">
                        <option selected></option>
                        @foreach (var item in Model.m_Master.Where(m => m.m_master_kbn_id == 30))
                        {
                            <option>@Html.DisplayFor(modelItem => item.item_name)</option>
                        }
                    </select>
                </div>
                <div class="komoku1 text-white mb-1" style="margin-right: 11px;">入力者区分</div>
                <div class="atai2 mb-1">
                    <select class="form-select form-select-sm" aria-label=".form-select-sm example" style="width: 200px;">
                        <option selected></option>
                        @foreach (var item in Model.m_Master.Where(m => m.m_master_kbn_id == 18))
                        {
                            <option value=@Html.DisplayFor(modelItem => item.item_no)>@Html.DisplayFor(modelItem => item.item_name)</option>
                        }
                    </select>
                </div>
                <div class="komoku1 text-white mb-1" style="margin-right: 11px;">商品区分</div>
                <div class="atai2 mb-1">
                    <select class="form-select form-select-sm" aria-label=".form-select-sm example" style="width: 200px;">
                        <option selected></option>
                        @foreach (var item in Model.m_Master.Where(m => m.m_master_kbn_id == 7))
                        {
                            <option value=@Html.DisplayFor(modelItem => item.item_no)>@Html.DisplayFor(modelItem => item.item_name)</option>
                        }
                    </select>
                </div>
                <div class="komoku1 text-white mb-1">証券番号</div>
                <div class="atai2 mb-1">
                    <div class="row mb-3">
                      <div class="col-sm-9">
                        <input type="tel" class="form-control form-control-sm" id="shoken_no" asp-for="data.shoken_no">
                      </div>
                      <label for="shoken_no" class="col-sm-3 col-form-label col-form-label-sm text-red">(半角)</label>
                    </div>
                </div>
                <div class="komoku1 text-white mb-1">旧証券番号</div>
                <div class="atai2 mb-1">
                    <div class="row mb-3">
                      <div class="col-sm-9">
                        <input type="tel" class="form-control form-control-sm" id="old_shoken_no" asp-for="data.old_shoken_no">
                      </div>
                      <label for="old_shoken_no" class="col-sm-3 col-form-label col-form-label-sm text-red">(半角)</label>
                    </div>
                </div>
                <div class="komoku1 text-white mb-1">募集人コード</div>
                <div class="atai2 mb-1">
                    <div class="row mb-3">
                      <div class="col-sm-9">
                        <input type="tel" class="form-control form-control-sm" id="BoshuninCD">
                      </div>
                      <label for="BoshuninCD" class="col-sm-3 col-form-label col-form-label-sm text-red">(半角)</label>
                    </div>
                </div>
                <div class="komoku1 text-white mb-1" style="margin-right: 11px;">コード</div>
                <div class="atai2 mb-1">
                    <select class="form-select form-select-sm" aria-label=".form-select-sm example" style="width: 200px;">
                        <option selected></option>
                        @foreach (var item in Model.m_Master.Where(m => m.m_master_kbn_id == 33))
                        {
                            <option value=@Html.DisplayFor(modelItem => item.item_no)>@Html.DisplayFor(modelItem => item.item_name)</option>
                        }
                    </select>
                </div>
                <div class="komoku1 text-white mb-1" style="margin-right: 11px;">集金方法</div>
                <div class="atai2 mb-1">
                    <select class="form-select form-select-sm" aria-label=".form-select-sm example" style="width: 200px;">
                        <option selected></option>
                        @foreach (var item in Model.m_Master.Where(m => m.m_master_kbn_id == 13))
                        {
                            <option value=@Html.DisplayFor(modelItem => item.item_no)>@Html.DisplayFor(modelItem => item.item_name)</option>
                        }
                    </select>
                </div>
            </div>
            <div class="col-md-6">
                <div class="komoku2 text-white mb-1">契約者名</div>
                <div class="komoku3 text-white mb-1">カナ</div>
                <div class="atai2 mb-1">
                    <div class="row mb-3">
                      <div class="col-sm-9">
                        <input type="text" class="form-control form-control-sm" id="keiyakushameiKana" name="keiyakushameiKana" pattern="^[｡-ﾟ+]+$">
                      </div>
                      <label for="keiyakushameiKana" class="col-sm-3 col-form-label col-form-label-sm text-red">(半角カナ)</label>
                    </div>
                </div>
                <div class="komoku3 text-white mb-1">漢字</div>
                <div class="atai2 mb-1">
                    <div class="row mb-3">
                      <div class="col-sm-9">
                        <input type="text" class="form-control form-control-sm" id="Keiyakushamei">
                      </div>
                      <label for="Keiyakushamei" class="col-sm-3 col-form-label col-form-label-sm text-red">(全角)</label>
                    </div>
                </div>
                <div class="komoku2 text-white mb-1">被保険者名</div>
                <div class="komoku3 text-white mb-1">カナ</div>
                <div class="atai2 mb-1">
                    <div class="row mb-3">
                      <div class="col-sm-9">
                        <input type="text" class="form-control form-control-sm" id="HihokenshameiKana">
                      </div>
                      <label for="HihokenshameiKana" class="col-sm-3 col-form-label col-form-label-sm text-red">(半角カナ)</label>
                    </div>
                </div>
                <div class="komoku3 text-white mb-1">漢字</div>
                <div class="atai2 mb-1">
                    <div class="row mb-3">
                      <div class="col-sm-9">
                        <input type="text" class="form-control form-control-sm" id="Hihokenshamei">
                      </div>
                      <label for="Hihokenshamei" class="col-sm-3 col-form-label col-form-label-sm text-red">(全角)</label>
                    </div>
                </div>
                <div class="komoku1 text-white mb-1">被保険者住所</div>
                <div class="atai2 mb-1">
                    <div class="row mb-3">
                      <div class="col-sm-9">
                        <input type="text" class="form-control form-control-sm" id="HihokenshaAdd">
                      </div>
                      <label for="HihokenshaAdd" class="col-sm-3 col-form-label col-form-label-sm text-red">(全角)</label>
                    </div>
                </div>
                <div class="komoku1 text-white mb-1">被保険者建物名</div>
                <div class="atai2 mb-1">
                    <div class="row mb-3">
                      <div class="col-sm-9">
                        <input type="text" class="form-control form-control-sm" id="HihokenshaTatemono">
                      </div>
                      <label for="HihokenshaTatemono" class="col-sm-3 col-form-label col-form-label-sm text-red">(全角)</label>
                    </div>
                </div>
                <div class="komoku1 text-white mb-1">申込書作成日</div>
                <div class="atai2 mb-1">
                    <div class="row mb-3">
                      <div class="col-sm-4">
                        <input type="text" class="form-control form-control-sm" id="Sakuseibi_s">
                      </div>
                      <label for="Sakuseibi_s" class="col-sm-1 col-form-label col-form-label-sm">～</label>
                      <div class="col-sm-4">
                        <input type="text" class="form-control form-control-sm" id="Sakuseibi_e">
                      </div>
                      <label for="Sakuseibi_e" class="col-sm-3 col-form-label col-form-label-sm text-red" style="font-size: 11px;">(YYYY/MM/DD)</label>
                    </div>
                </div>
                <div class="komoku1 text-white mb-1">保険始期</div>
                <div class="atai2 mb-1">
                    <div class="row mb-3">
                      <div class="col-sm-4">
                        <input type="text" class="form-control form-control-sm" id="Hokenshiki_s">
                      </div>
                      <label for="Hokenshiki_s" class="col-sm-1 col-form-label col-form-label-sm">～</label>
                      <div class="col-sm-4">
                        <input type="text" class="form-control form-control-sm" id="Hokenshiki_e">
                      </div>
                      <label for="Hokenshiki_e" class="col-sm-3 col-form-label col-form-label-sm text-red" style="font-size: 11px;">(YYYY/MM/DD)</label>
                    </div>
                </div>
                <div class="komoku1 text-white mb-1"></div>
                <div class="atai2 mb-1"></div>
            </div>
        </div>
        <div class="text-end">
            <button type="button" class="btn btn-primary" style="width: 150px;" onclick="CrearBtnClick()">クリア</button>
            <button type="submit" class="btn btn-primary" style="width: 150px;">検索</button>
        </div>
    </div>
</form>