@page
@model Dairiten.Pages.Moshikomi.Moshikomi_ChModel
@{
    ViewData["Title"] = "申込入力(内容確認)";
}

<div class="container-fluid g-1">
    <div class="text-start">
        <h4 class="" style="background:#DCDCDC">申込入力(内容確認)</h4>
    </div>
</div>
<p style="line-height: 0.5">★入力内容をご確認ください。</p>
<br>
<p style="line-height: 0.5">★基本情報</p>
<form name="moshikomi_kakunin_form" method="post">
    <div class="row g-0">
        <div class="col-4">
            <div class="row g-0">
                <div class="col-4">
                    <div class="komoku9 text-white mb-1 w-100">証券番号</div>
                </div>
                <div class="col-8">
                    <div class="atai1 mb-1 ps-2">
                        <label class="col-form-label" style="line-height: 16px;" id="shoken_no">@Model.keiyaku.shoken_no</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="row g-0">
                <div class="col-4">
                    <div class="komoku9 text-white mb-1 w-100">旧証券番号</div>
                </div>
                <div class="col-8">
                    <div class="atai1 mb-1 ps-2">
                        <label class="col-form-label" style="line-height: 16px;" id="old_shoken_no">@Model.keiyaku.old_shoken_no</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="row g-0">
                <div class="col-4">
                    <div class="komoku9 text-white mb-1 w-100">受付区分</div>
                </div>
                <div class="col-8">
                    <div class="atai1 mb-1 ps-2">
                        <label class="col-form-label" style="line-height: 16px;" id="uketsuke_kbn"></label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row g-0">
        <div class="col-4">
            <div class="row g-0">
                <div class="col-4">
                    <div class="komoku9 text-white mb-1 w-100">商品区分</div>
                </div>
                <div class="col-8">
                    <div class="atai1 mb-1 ps-2">
                        <label class="col-form-label" style="line-height: 16px;" id="shohin_kbn">@Model.shohin_kbns[Model.keiyaku.shohin_kbn]</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="row g-0">
                <div class="col-4">
                    <div class="komoku9 text-white mb-1 w-100">契約者区分</div>
                </div>
                <div class="col-8">
                    <div class="atai1 mb-1 ps-2">
                        <label class="col-form-label" style="line-height: 16px;" id="keiyakusha_kbn">@Model.keiyakusha_kbns[Model.keiyaku.keiyakusha_kbn]</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="row g-0">
                <div class="col-4">
                    <div class="komoku9 text-white mb-1 w-100">申込書作成日</div>
                </div>
                <div class="col-8">
                    <div class="atai1 mb-1 ps-2">
                        <label class="col-form-label" style="line-height: 16px;" id="moshikomisho_day">
                            @if (@Model.keiyaku.moshikomisho_day != DateTime.Parse("0001/01/01 00:00:00"))
                            {
                                @Model.keiyaku.moshikomisho_day.ToString("yyyy年MM月dd日")
                            }
                            else
                            {
                                
                            }
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <p style="line-height: 0.5">★補償内容</p>
    <div class="row g-0">
        <div class="col-2">
            <div class="komoku9 text-white mb-1 w-100">保険始期</div>
        </div>
        <div class="col-10">
            <div class="atai2 mb-1 ps-2">
                <label class="col-form-label" style="line-height: 16px;">
                    @if (@Model.keiyaku.hokenshiki != DateTime.Parse("0001/01/01 00:00:00"))
                    {
                        @Model.keiyaku.hokenshiki.ToString("yyyy年MM月dd日")
                    }
                    else
                    {
                                
                    }
                </label>
            </div>
        </div>
    </div>
    <div class="row g-0">
        <div class="col-2">
            <div class="komoku9 text-white mb-1 w-100">保険期間</div>
        </div>
        <div class="col-10">
            <div class="atai2 mb-1 ps-2">
                <label class="col-form-label" style="line-height: 16px;">@Model.hokenkikans[Model.keiyaku.hokenkikan]</label>
            </div>
        </div>
    </div>
    <div class="row g-0">
        <div class="col-2">
            <div class="komoku9 text-white mb-1 w-100">契約タイプ</div>
        </div>
        <div class="col-10">
            <div class="atai2 mb-1 ps-2">
                <label class="col-form-label" style="line-height: 16px;">
                    @if (Model.keiyaku.m_shohin_id < 0)
                    {
                        
                    }
                    else
                    {
                        @Model.m_shohin_ids[Model.keiyaku.m_shohin_id]
                    }
                </label>
            </div>
        </div>
    </div>
    <div class="row g-0">
        <div class="col-2">
            <div class="komoku9 text-white mb-1 w-100">用法</div>
        </div>
        <div class="col-10">
            <div class="atai2 mb-1 ps-2">
                <label class="col-form-label" style="line-height: 16px;"></label>
            </div>
        </div>
    </div>
    <div class="row g-0">
        <div class="col-2">
            <div class="komoku9 text-white mb-1 w-100">業種</div>
        </div>
        <div class="col-10">
            <div class="atai2 mb-1 ps-2">
                <label class="col-form-label" style="line-height: 16px;">@Model.keiyaku.gyoshu</label>
            </div>
        </div>
    </div>
    <div class="row g-0">
        <div class="col-2">
            <div class="komoku9 text-white mb-1 w-100">専有面積</div>
        </div>
        <div class="col-10">
            <div class="atai2 mb-1 ps-2">
                <label class="col-form-label" style="line-height: 16px;">
                    @if (@Model.keiyaku.senyumenseki != 0)
                    {
                        @Model.keiyaku.senyumenseki.ToString("#,0 ㎡")
                    }else{

                    }
                </label>
            </div>
        </div>
    </div>
    <br>
    <p style="line-height: 0.5">★契約者情報</p>
    <div class="row g-0">
        <div class="col-2">
            <div class="komoku9 text-white mb-1 w-100">契約者連絡先</div>
        </div>
        <div class="col-10">
            <div class="atai2 mb-1 ps-2">
                <label class="col-form-label" style="line-height: 16px;">@Model.keiyaku.k_tel</label>
            </div>
        </div>
    </div>
    <div class="row g-0">
        <div class="col-2">
            <div class="komoku9 text-white mb-1 w-100">契約者携帯</div>
        </div>
        <div class="col-10">
            <div class="atai2 mb-1 ps-2">
                <label class="col-form-label" style="line-height: 16px;">@Model.keiyaku.k_mobile</label>
            </div>
        </div>
    </div>
    <div class="row g-0">
        <div class="col-1 pe-1">
            <div class="komoku8 text-white mb-1 w-100">契約者住所</div>
        </div>
        <div class="col-1">
            <div class="komoku9 text-white mb-1 w-100">戸建て</div>
            <div class="komoku9 text-white mb-1 w-100">物件番号</div>
            <div class="komoku9 text-white mb-1 w-100">郵便番号</div>
            <div class="komoku9 text-white mb-1 w-100">住所</div>
            <div class="komoku9 text-white mb-1 w-100">丁目・番地</div>
            <div class="komoku9 text-white mb-1 w-100">建物名</div>
            <div class="komoku9 text-white mb-1 w-100">号室</div>
        </div>
        <div class="col-10">
            <div class="atai2 mb-1 ps-2">
                <label class="col-form-label" style="line-height: 16px;">
                    @if (@Model.keiyaku.k_kodate == true)
                    {
                        @Model.kodate
                    }
                </label>
            </div>
            <div class="atai2 mb-1 ps-2">
                <label class="col-form-label" style="line-height: 16px;">@Model.Input.k_bukken_no</label>
            </div>
            <div class="atai2 mb-1 ps-2">
                <label class="col-form-label" style="line-height: 16px;">@Model.keiyaku.k_zip</label>
            </div>
            <div class="atai2 mb-1 ps-2">
                <label class="col-form-label" style="line-height: 16px;">@Model.keiyaku.k_address1</label>
            </div>
            <div class="atai2 mb-1 ps-2">
                <label class="col-form-label" style="line-height: 16px;">@Model.keiyaku.k_address2</label>
            </div>
            <div class="atai2 mb-1 ps-2">
                <label class="col-form-label" style="line-height: 16px;">@Model.keiyaku.k_address3</label>
            </div>
            <div class="atai2 mb-1 ps-2">
                <label class="col-form-label" style="line-height: 16px;">@Model.keiyaku.k_address4</label>
            </div>
        </div>
    </div>
    <div class="row g-0">
        <div class="col-1 pe-1" >
            <div class="komoku2 text-white mb-1 w-100">契約者名</div>
        </div>
        <div class="col-1">
            <div class="komoku9 text-white mb-1 w-100">カナ</div>
            <div class="komoku9 text-white mb-1 w-100">漢字</div>
        </div>
        <div class="col-10">
            <div class="atai2 mb-1 ps-2">
                <label class="col-form-label" style="line-height: 16px;">@Model.keiyaku.k_kana</label>
            </div>
            <div class="atai2 mb-1 ps-2">
                <label class="col-form-label" style="line-height: 16px;">@Model.keiyaku.k_name</label>
            </div>
        </div>
    </div>
    <div class="row g-0">
        <div class="col-2">
            <div class="komoku9 text-white mb-1 w-100">生年月日</div>
        </div>
        <div class="col-10">
            <div class="atai2 mb-1 ps-2">
                <label class="col-form-label" style="line-height: 16px;">
                    @if (@Model.keiyaku.k_birth != DateTime.Parse("0001/01/01 00:00:00"))
                    {
                        @Model.keiyaku.k_birth.ToString("yyyy年MM月dd日")
                    }
                    else
                    {
                                
                    }
                </label>
            </div>
        </div>
    </div>
    <div class="row g-0">
        <div class="col-2">
            <div class="komoku9 text-white mb-1 w-100">契約者メールアドレス</div>
        </div>
        <div class="col-10">
            <div class="atai2 mb-1 ps-2">
                <label class="col-form-label" style="line-height: 16px;">@Model.keiyaku.k_mail</label>
            </div>
        </div>
    </div>
    <div class="row g-0">
        <div class="col-2">
            <div class="komoku9 text-white mb-1 w-100">保証人区分</div>
        </div>
        <div class="col-10">
            <div class="atai2 mb-1 ps-2">
                <label class="col-form-label" style="line-height: 16px;">
                    @if (Model.keiyaku.hoshonin_kbn < 0)
                    {
                        
                    }
                    else
                    {
                        @if (@Model.hoshonin_kbns[Model.keiyaku.hoshonin_kbn] != "その他")
                        {
                            @Model.hoshonin_kbns[Model.keiyaku.hoshonin_kbn]
                        }else
                        {
                            @(@Model.hoshonin_kbns[Model.keiyaku.hoshonin_kbn] + "　" + @Model.keiyaku.hoshonin_kbn_other)
                        }
                    }
                </label>
            </div>
        </div>
    </div>
    <br>
    <p style="line-height: 0.5">★被保険者情報</p>
    <div class="row g-0">
        <div class="col-2">
            <div class="komoku9 text-white mb-1 w-100">複数契約特約</div>
        </div>
        <div class="col-10">
            <div class="atai2 mb-1 ps-2">
                <label class="col-form-label" style="line-height: 16px;"></label>
            </div>
        </div>
    </div>
    <div class="row g-0">
        <div class="col-2">
            <div class="komoku9 text-white mb-1 w-100">契約者と同じ</div>
        </div>
        <div class="col-10">
            <div class="atai2 mb-1 ps-2">
                <label class="col-form-label" style="line-height: 16px;"></label>
            </div>
        </div>
    </div>
    <div class="row g-0">
        <div class="col-1 pe-1">
            <div class="komoku8 text-white mb-1 w-100">目的地住所</div>
        </div>
        <div class="col-1">
            <div class="komoku9 text-white mb-1 w-100">戸建て</div>
            <div class="komoku9 text-white mb-1 w-100">物件番号</div>
            <div class="komoku9 text-white mb-1 w-100">郵便番号</div>
            <div class="komoku9 text-white mb-1 w-100">住所</div>
            <div class="komoku9 text-white mb-1 w-100">丁目・番地</div>
            <div class="komoku9 text-white mb-1 w-100">建物名</div>
            <div class="komoku9 text-white mb-1 w-100">号室</div>
        </div>
        <div class="col-10">
            <div class="atai2 mb-1 ps-2">
                <label class="col-form-label" style="line-height: 16px;">
                    @if (@Model.keiyaku.h_kodate == true)
                    {
                        @Model.kodate
                    }
                </label>
            </div>
            <div class="atai2 mb-1 ps-2">
                <label class="col-form-label" style="line-height: 16px;">@Model.Input.h_bukken_no</label>
            </div>
            <div class="atai2 mb-1 ps-2">
                <label class="col-form-label" style="line-height: 16px;">@Model.keiyaku.h_zip</label>
            </div>
            <div class="atai2 mb-1 ps-2">
                <label class="col-form-label" style="line-height: 16px;">@Model.keiyaku.h_address1</label>
            </div>
            <div class="atai2 mb-1 ps-2">
                <label class="col-form-label" style="line-height: 16px;">@Model.keiyaku.h_address2</label>
            </div>
            <div class="atai2 mb-1 ps-2">
                <label class="col-form-label" style="line-height: 16px;">@Model.keiyaku.h_address3</label>
            </div>
            <div class="atai2 mb-1 ps-2">
                <label class="col-form-label" style="line-height: 16px;">@Model.keiyaku.h_address4</label>
            </div>
        </div>
    </div>
    <div class="row g-0">
        <div class="col-2">
            <div class="komoku9 text-white mb-1 w-100">被保険者区分</div>
        </div>
        <div class="col-10">
            <div class="atai2 mb-1 ps-2">
                <label class="col-form-label" style="line-height: 16px;"></label>
            </div>
        </div>
    </div>
    <div class="row g-0">
        <div class="col-1 pe-1" >
            <div class="komoku2 text-white mb-1 w-100">被保険者名</div>
        </div>
        <div class="col-1">
            <div class="komoku9 text-white mb-1 w-100">カナ</div>
            <div class="komoku9 text-white mb-1 w-100">漢字</div>
        </div>
        <div class="col-10">
            <div class="atai2 mb-1 ps-2">
                <label class="col-form-label" style="line-height: 16px;">@Model.keiyaku.h_kana</label>
            </div>
            <div class="atai2 mb-1 ps-2">
                <label class="col-form-label" style="line-height: 16px;">@Model.keiyaku.h_name</label>
            </div>
        </div>
    </div>
    <div class="row g-0">
        <div class="col-2">
            <div class="komoku9 text-white mb-1 w-100">生年月日</div>
        </div>
        <div class="col-10">
            <div class="atai2 mb-1 ps-2">
                <label class="col-form-label" style="line-height: 16px;">
                    @if (@Model.keiyaku.h_birth != DateTime.Parse("0001/01/01 00:00:00"))
                    {
                        @Model.keiyaku.h_birth.ToString("yyyy年MM月dd日")
                    }
                    else
                    {
                                
                    }
                </label>
            </div>
        </div>
    </div>
    <br>
    <p style="line-height: 0.5">★手続依頼書・集金方法</p>
    <div class="row g-0">
        <div class="col-2">
            <div class="komoku9 text-white mb-1 w-100">手続依頼書発行</div>
        </div>
        <div class="col-10">
            <div class="atai2 mb-1 ps-2">
                <label class="col-form-label" style="line-height: 16px;">
                    @Model.tetsuzukiiraishohakko_kbns[Model.keiyaku.tetsuzukiiraishohakko_kbn]
                </label>
            </div>
        </div>
    </div>
    <div class="row g-0">
        <div class="col-2">
            <div class="komoku9 text-white mb-1 w-100">集金方法</div>
        </div>
        <div class="col-10">
            <div class="atai2 mb-1 ps-2">
                <label class="col-form-label" style="line-height: 16px;">@Model.shukinhohoes[Model.keiyaku.shukinhoho]</label>
            </div>
        </div>
    </div>
    <br>
    <p style="line-height: 0.5">★告知事項等</p>
    <div class="row g-0">
        <div class="col-12">
            <div class="komoku5 text-white w-100">① 被保険者(入居者本人)または被保険者(入居者本人)と同居する方が、<br>
                    　今回のご契約以外に、これと同一の損害を補償する他の保険にご加入されていますか？
            </div>
        </div>
    </div>
    <div class="row g-0">
        <div class="col-2">
            <div class="komoku14 text-white mb-1 w-100"></div>
        </div>
        <div class="col-10">
            <div class="atai2 mb-1 py-1 mt-1 ps-2">
                <label class="col-form-label" style="line-height: 16px;"></label>
            </div>
        </div>
    </div>
    <div class="row g-0">
        <div class="col-12">
            <div class="komoku5 text-white w-100">② ①で「はい」とお答えされた方のみご回答ください。<br>
                    　加入されている他の保険は当社の保険ですか？
            </div>
        </div>
    </div>
    <div class="row g-0">
        <div class="col-2">
            <div class="komoku14 text-white mb-1 w-100"></div>
        </div>
        <div class="col-10">
            <div class="atai2 mb-1 py-1 mt-1 ps-2">
                <label class="col-form-label" style="line-height: 16px;"></label>
            </div>
        </div>
    </div>
    <div class="row g-0">
        <div class="col-12">
            <div class="komoku12 text-white w-100">③ ①で「はい」とお答えの方は他にご加入の契約内容をご記入ください。</div>
        </div>
    </div>
    <div class="row g-0">
        <div class="col-1 pe-1">
            <div class="komoku13 text-white mb-1 w-100"></div>
        </div>
        <div class="col-1">
            <div class="komoku9 text-white mb-1 mt-1 w-100">保険会社名</div>
            <div class="komoku9 text-white mb-1 w-100">保険種類</div>
            <div class="komoku9 text-white mb-1 w-100">満期日</div>
            <div class="komoku9 text-white mb-1 w-100">保険金額</div>
        </div>
        <div class="col-10">
            <div class="atai2 mb-1 mt-1 ps-2">
                <label class="col-form-label" style="line-height: 16px;">@Model.keiyaku.other_hoken_company</label>
            </div>
            <div class="atai2 mb-1 ps-2">
                <label class="col-form-label" style="line-height: 16px;">@Model.keiyaku.other_hoken_shurui</label>
            </div>
            <div class="atai2 mb-1 ps-2">
                <label class="col-form-label" style="line-height: 16px;">
                    @if (@Model.keiyaku.other_hoken_manki != DateTime.Parse("0001/01/01 00:00:00"))
                    {
                        @Model.keiyaku.other_hoken_manki.ToString("yyyy年MM月dd日")
                    }
                    else
                    {
                                
                    }
                </label>
            </div>
            <div class="atai2 mb-1 ps-2">
                <label class="col-form-label" style="line-height: 16px;">
                    @if (@Model.keiyaku.other_hoken_money != 0)
                    {
                        @Model.keiyaku.other_hoken_money.ToString("#,0 円")
                    }else{

                    }
                </label>
            </div>
        </div>
    </div>
    <div class="row g-0">
        <div class="col-2">
            <div class="komoku9 text-white mb-1 w-100">保険契約証要</div>
        </div>
        <div class="col-10">
            <div class="atai2 mb-1 ps-2">
                <label class="col-form-label" style="line-height: 16px;"></label>
            </div>
        </div>
    </div>
    <br>
    <p style="line-height: 0.5">★その他</p>
    <div class="row g-0">
        <div class="col-2">
            <div class="komoku9 text-white mb-1 w-100">コード</div>
        </div>
        <div class="col-10">
            <div class="atai2 mb-1 ps-2">
                <label class="col-form-label" style="line-height: 16px;"></label>
            </div>
        </div>
    </div>
    <div class="row g-0">
        <div class="col-2">
            <div class="komoku9 text-white mb-1 w-100">特記事項</div>
        </div>
        <div class="col-10">
            <div class="atai2 mb-1 ps-2">
                <label class="col-form-label" style="line-height: 16px;"></label>
            </div>
        </div>
    </div>
    <br>
    <p style="line-height: 0.5">★代理店情報</p>
    <div class="row g-0">
        <div class="col-2">
            <div class="komoku9 text-white mb-1 w-100">代理店コード</div>
        </div>
        <div class="col-10">
            <div class="atai2 mb-1 ps-2">
                <label class="col-form-label" style="line-height: 16px; margin-right: 20px;">@Model.d_no</label>
                <label class="col-form-label" style="line-height: 16px;">@Model.d_name</label>
            </div>
        </div>
    </div>

    <div class="fixed-bottom bg-white" style="margin-left: 17%; opacity: 0.8;">
        <hr>
        <div class="row">
            <div class="text-start col-9">
                <button type="button" class="btn btn-primary" style="width: 150px;" id="return_Btn" onclick="history.back();">戻る</button>
                <button type="submit" class="btn btn-primary" style="width: auto;" id="save_Btn" asp-area="" asp-page="/Moshikomi/Moshikomi_Ch" onclick="save_BtnClick()">保存＆申込書印刷</button>
                <button type="button" class="btn btn-primary" style="width: auto;" id="shomei_ryoshu_Btn">署名・領収情報入力</button>
            </div>
        </div>
        <br>
    </div>

</form>